[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
sphinx = "<9"
sphinxcontrib-plantuml = "<0.31"
Pillow = "<11"
kconfiglib = ">=14.1, <15.0"

[requires]
python_version = "3.12"
