[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
sphinx = ">=3.2, <3.3"
kconfiglib = ">=14.1, <15.0"

[requires]
python_version = "3.6"
