config DRAM_TIMING_TMOD
	int
	depends on DRAM_TYPE_DDR4
	default 15000
	help
	  TBD

config DRAM_TIMING_TMRD
	int
	depends on DRAM_TYPE_LPDDR4
	default 14000
	help
	  TBD

config DRAM_TIMING_TMRW
	int
	depends on DRAM_TYPE_LPDDR4
	default 10000
	help
	  TBD

config DRAM_TIMING_TWR
	int
	default 15000 if DRAM_TYPE_DDR4
	default 18000 if DRAM_TYPE_LPDDR4
	help
	  Write Recovery time

config DRAM_TIMING_TRTP
	int
	default 7500 if DRAM_TYPE_DDR4
	default 7500 if DRAM_TYPE_LPDDR4
	help
	  Internal READ to PRECHARGE command delay

config DRAM_TIMING_TRCD
	int
	depends on DRAM_TYPE_LPDDR4
	default 18000 if DRAM_TYPE_LPDDR4
	help
	  RAS-to-CAS delay

config DRAM_TIMING_TRRD
	int
	depends on DRAM_TYPE_LPDDR4
	default 10000 if DRAM_TYPE_LPDDR4
	help
	  Active bank A to active bank B

config DRAM_TIMING_TRP
	int
	depends on DRAM_TYPE_LPDDR4
	default 21000 if DRAM_TYPE_LPDDR4
	help
	  Row precharge time (all banks)

config DRAM_TIMING_TCKE
	int
	default 7500 if DRAM_TYPE_LPDDR4
	default 5000 if DRAM_TYPE_DDR4
	help
	  CKE minimum pulse width

config DRAM_TIMING_TSR
	int
	depends on DRAM_TYPE_LPDDR4
	default 15000
	help
	  Minimal Self-Refresh time

config DRAM_TIMING_TCKELCK
	int
	depends on DRAM_TYPE_LPDDR4
	default 5000
	help
	  Valid clock requirement after CKE input low

config DRAM_TIMING_TCKCKEH
	int
	depends on DRAM_TYPE_LPDDR4
	default 1750
	help
	  Valid clock requirement before CKE input high

config DRAM_TIMING_TCKSRX
	int
	depends on DRAM_TYPE_DDR4
	default 10000
	help
	  TBD

config DRAM_TIMING_TWTR
	int
	depends on DRAM_TYPE_LPDDR4
	default 10000
	help
	  TBD

config DRAM_TIMING_TWTRS
	int
	depends on DRAM_TYPE_DDR4
	default 2500
	help
	  Internal write to read command delay for different bank group.

config DRAM_TIMING_TWTRL
	int
	depends on DRAM_TYPE_DDR4
	default 7500
	help
	  Internal write to read command delay for same bank group.

config DRAM_TIMING_TRASMAX
	int
	default 70200000 if DRAM_TYPE_DDR4
	default 70200000 if DRAM_TYPE_LPDDR4
	help
	  Row active time

config DRAM_TIMING_TXP
	int
	default 6000 if DRAM_TYPE_DDR4
	default 7500 if DRAM_TYPE_LPDDR4
	help
	  Exit Power-Down to next valid command delay

config DRAM_TIMING_TDQSCKMIN
	int
	default 1500 if DRAM_TYPE_LPDDR4
	help
	  Minimal DQS output access time from CK_t/CK_c

config DRAM_TIMING_TDQSCKMAX
	int
	default 3500 if DRAM_TYPE_LPDDR4
	help
	  Max DQS output access time from CK_t/CK_c

config DRAM_TIMING_TODTON_MIN
	int
	depends on DRAM_TYPE_LPDDR4
	default 1500
	help
	  TBD

config DRAM_TIMING_TODTON_MAX
	int
	depends on DRAM_TYPE_LPDDR4
	default 3500
	help
	  TBD

config DRAM_TIMING_TODTOFF_MIN
	int
	depends on DRAM_TYPE_LPDDR4
	default 1500
	help
	  TBD

config DRAM_TIMING_TODTOFF_MAX
	int
	depends on DRAM_TYPE_LPDDR4
	default 3500
	help
	  TBD

config DRAM_TIMING_TRFC_AB
	int
	depends on DRAM_TYPE_LPDDR4
	default 380000
	help
	  TBD

config DRAM_TIMING_TREFI
	int
	default 3904000 if DRAM_TYPE_LPDDR4
	help
	  TBD

config DRAM_TIMING_TZQOPER
	int
	default 1000000 if DRAM_TYPE_LPDDR4
	help
	  DDR3/DDR4: tZQOPER
	  LPDDR4: tZQCAL

config DRAM_TIMING_TZQCS
	int
	default 30000 if DRAM_TYPE_LPDDR4
	help
	  DDR3/DDR4: tZQCS
	  LPDDR4: tZQLAT

choice
	prompt "Read postamble"
	config READ_POSTAMBLE_0_5T
		bool "0.5 tCK"
		depends on DRAM_TYPE_LPDDR4
		help
		  Read postamble of 0.5 tCK
	config READ_POSTAMBLE_1_5T
		bool "1.5 tCK"
		depends on DRAM_TYPE_LPDDR4
		help
		  Read postamble of 1.5 tCK
endchoice
