CONFIG_PLATFORM_SOLARIS=y
CONFIG_DRAM_TYPE_DDR4=y
CONFIG_DDRMC_ACTIVE_0_3=y
CONFIG_UART_BASE_FREQ=25000000
CONFIG_DRAM_RATE_2133=y
CONFIG_DRAM_PAGE_SIZE_2K=y
CONFIG_DRAM_DEVICE_WIDTH_X16=y
CONFIG_DRAM_ROW_ADDR_BITS=16
CONFIG_DRAM_COLUMN_ADDR_BITS=10
CONFIG_DRAM_BANK_ADDR_BITS=2
CONFIG_DRAM_BANK_GROUP_ADDR_BITS=1
CONFIG_DRAM_CAS_LATENCY=16
CONFIG_DRAM_TIMING_TRCD=15000
CONFIG_DRAM_TIMING_TRP=15000
CONFIG_DRAM_RTT_NOM_120=y
