CONFIG_DRAM_TYPE_LPDDR4=y
CONFIG_BURST_LEN=16
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
CONFIG_DRAM_RATE_2133=y
CONFIG_I2C=y
CONFIG_I2C_SPEED_400=y
CONFIG_DDR1_POWER_ENABLE=y
CONFIG_DRAM_RANKS=2
CONFIG_DDRMC_ACTIVE_MASK=3
CONFIG_PHY_ODT_120=y
CONFIG_PHY_TX_IMPEDANCE_40=y
CONFIG_PHY_ATX_IMPEDANCE_40=y
CONFIG_DRAM_RTT_NOM_120=y
CONFIG_DRAM_CA_ODT_40=y
CONFIG_SOC_ODT_120=y
CONFIG_BOOTMODE_JTAG=y
