CONFIG_DRAM_TYPE_DDR4=y
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
CONFIG_READ_DBI=y
CONFIG_WRITE_DBI=y
CONFIG_DRAM_RANKS=2
CONFIG_DRAM_PAGE_SIZE_1K=y
CONFIG_DRAM_ROW_ADDR_BITS=17
CONFIG_DRAM_COLUMN_ADDR_BITS=10
CONFIG_DRAM_BANK_ADDR_BITS=2
CONFIG_DRAM_BANK_GROUP_ADDR_BITS=2
CONFIG_DRAM_CAS_LATENCY=16
CONFIG_DRAM_TIMING_TRCD=13750
CONFIG_DRAM_TIMING_TRP=13750
CONFIG_DRAM_RTT_NOM_80=y
CONFIG_DRAM_RTT_WR_HIZ=y
CONFIG_DRAM_RTT_PARK_240=y
