CONFIG_FIRMWARE_VERSION_201810=y
CONFIG_DRAM_TYPE_LPDDR4=y
CONFIG_BURST_LEN=16
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
CONFIG_DRAM_RATE_2133=y
CONFIG_DRAM_RANKS=2
CONFIG_DQ_MAPPING=y
CONFIG_DDRMC_PORT_READ_TIMEOUT_MASK=0x5
CONFIG_DDRMC_PORT_WRITE_TIMEOUT_MASK=0x5
CONFIG_DDRMC0_DQ_MAPPING_BYTE0=0x57462031
CONFIG_DDRMC0_DQ_MAPPING_BYTE1=0x23476510
CONFIG_DDRMC0_DQ_MAPPING_BYTE2=0x76523410
CONFIG_DRAM_DEVICE_WIDTH_X16=y
CONFIG_DRAM_ROW_ADDR_BITS=16
CONFIG_DRAM_COLUMN_ADDR_BITS=10
CONFIG_DRAM_BANK_ADDR_BITS=3
CONFIG_PHY_ODT_120=y
CONFIG_PHY_TX_IMPEDANCE_40=y
CONFIG_DRAM_RTT_NOM_120=y
CONFIG_DRAM_CA_ODT_40=y
CONFIG_SOC_ODT_120=y
# CONFIG_ENABLE_CA_VREF_TRAINING is not set
CONFIG_PHY_TXSLEW_FALL_DQ=0xf
CONFIG_PHY_TXSLEW_FALL_AC=0xf
