CONFIG_DRAM_TYPE_LPDDR4=y
CONFIG_BURST_LEN=16
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
CONFIG_DRAM_RATE_533=y
CONFIG_DRAM_RANKS=2
CONFIG_DQ_MAPPING=y
CONFIG_DDRMC0_DQ_MAPPING_BYTE0=0x23574610
CONFIG_DDRMC0_DQ_MAPPING_BYTE1=0x32745610
CONFIG_DDRMC0_DQ_MAPPING_BYTE2=0x16523470
CONFIG_PHY_ODT_120=y
CONFIG_PHY_TX_IMPEDANCE_40=y
CONFIG_DRAM_RTT_NOM_120=y
CONFIG_DRAM_CA_ODT_40=y
CONFIG_SOC_ODT_120=y
CONFIG_IMPEDANCE_CALIBRATION_DISABLE=y
CONFIG_PHY_CALPEXT_OVR=0x15
CONFIG_PHY_CALNINT_OVR=0xf
