CONFIG_DRAM_TYPE_LPDDR4=y
CONFIG_DDRMC_ACTIVE_0_1=y
CONFIG_BURST_LEN=16
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
CONFIG_DRAM_RATE_1866=y
CONFIG_READ_DBI=y
CONFIG_WRITE_DBI=y
CONFIG_DRAM_RANKS=2
CONFIG_DRAM_DEVICE_WIDTH_X16=y
CONFIG_DRAM_ROW_ADDR_BITS=16
CONFIG_DRAM_COLUMN_ADDR_BITS=10
CONFIG_DRAM_BANK_ADDR_BITS=3
CONFIG_PHY_ODT_120=y
CONFIG_PHY_TX_IMPEDANCE_40=y
CONFIG_PHY_ATX_IMPEDANCE_40=y
CONFIG_DRAM_RTT_NOM_120=y
CONFIG_DRAM_CA_ODT_40=y
CONFIG_SOC_ODT_120=y
