CONFIG_PLATFORM_SOLARIS=y
CONFIG_DRAM_TYPE_DDR4=y
CONFIG_UART_BASE_FREQ=25000000
# CONFIG_SPD_EEPROM is not set
CONFIG_DRAM_RATE_1333=y
CONFIG_DRAM_CAS_LATENCY=5
CONFIG_PHY_ODT_34=y
CONFIG_PHY_TX_IMPEDANCE_34=y
