CONFIG_DRAM_TYPE_LPDDR4=y
CONFIG_BURST_LEN=16
CONFIG_UART_BASE_FREQ=27000000
CONFIG_DDR_XTAL_FREQ=27000000
# CONFIG_SPD_EEPROM is not set
CONFIG_DRAM_RATE_1066=y
CONFIG_DRAM_RANKS=2
CONFIG_DDRMC_ACTIVE_MASK=3
CONFIG_DQ_MAPPING=y
CONFIG_DDRMC0_DQ_MAPPING_BYTE0=0x23576410
CONFIG_DDRMC0_DQ_MAPPING_BYTE1=0x32764510
CONFIG_DDRMC0_DQ_MAPPING_BYTE3=0x76453210
CONFIG_DDRMC1_DQ_MAPPING_BYTE0=0x32764510
CONFIG_DDRMC1_DQ_MAPPING_BYTE1=0x76345210
CONFIG_DDRMC1_DQ_MAPPING_BYTE2=0x76532410
CONFIG_DDRMC1_DQ_MAPPING_BYTE3=0x74562310
CONFIG_PHY_ODT_60=y
CONFIG_PHY_TX_IMPEDANCE_60=y
CONFIG_DRAM_RTT_NOM_60=y
CONFIG_DRAM_CA_ODT_40=y
CONFIG_SOC_ODT_60=y
CONFIG_BOOTMODE_JTAG=y
